body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.image {
  top: 66px;
  left: 151px;
  width: 576px;
  height: 471px;
  border-radius: 8px;
  background-image: url(./Image.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card {
  top: 563px;
  left: 232px;
  width: 414px;
  height: 177px;
  background-color: #ffffff;
  border-radius: 24px;
  box-shadow: 0px 2px 10px rgba(3,3,3,0.1);
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text1 {
  color: #030303;
  font-size: 24px;
  font-family: "Roboto";
  line-height: 31px;
  text-align: center;
}

.divider-horizontal {
  top: 629px;
  left: 289px;
  width: 280px;
  height: 2px;
  background-color: #f0f0f0;
  border-radius: 2px;
  margin: 16px 0;
}

.button {
  top: 647px;
  left: 331px;
  width: 216px;
  height: 48px;
  padding: 0px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
  border: 0;
  box-sizing: border-box;
  border-radius: 24px;
  background-color: #55a674;
  color: #000000;
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 700;
  line-height: 22px;
  outline: none;
  transition: color 0.3s ease, transform 0.3s ease;
}

.button:hover {
  color: #ffffff; /* Cambia el color del texto a blanco cuando se pasa el mouse */
  transform: scale(1.05); /* Agranda el botón en un 5% cuando se pasa el mouse */
}

.icon {
  font-size: 24px;
  width: 24px;
  height: 24px;
  color: #000000;
}

/* Estilos para el lado derecho del contenido */
.side-content {
  position: relative;
  width: 100%; /* Ajusta según tus necesidades */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  z-index: 1;
  margin-left: 20px;
}

.text2 {
  color: #080a0b;
  font-size: 48px;
  font-family: "Roboto";
  font-weight: 700;
  line-height: 56px;
  text-align: center;
}

.text3 {
  color: #030303;
  font-size: 14px;
  font-family: "Roboto";
  line-height: 18px;
  text-align: center;
}

.text4 {
  color: #080a0b;
  font-size: 12px;
  font-family: "Roboto";
  font-weight: 500;
  line-height: 16px;
  margin-bottom: 8px;
}

.text5 {
  color: #080a0b;
  font-size: 12px;
  font-family: "Roboto";
  font-weight: 500;
  line-height: 16px;
  margin-bottom: 8px;
}

.text6 {
  color: #080a0b;
  font-size: 12px;
  font-family: "Roboto";
  font-weight: 500;
  line-height: 16px;
  margin-bottom: 8px;
}

.text7 {
  color: #080a0b;
  font-size: 12px;
  font-family: "Roboto";
  font-weight: 500;
  line-height: 16px;
  margin-bottom: 8px;
}

.text8 {
  color: #080a0b;
  font-size: 12px;
  font-family: "Roboto";
  font-weight: 500;
  line-height: 16px;
  margin-bottom: 8px;
}

.input {
  width: 468px;
  height: 48px;
  padding: 0px 16px; /* Ajusta el relleno según tus necesidades */
  margin-top: 5px; /* Espaciado entre los elementos */
  border: 0;
  border-radius: 24px;
  box-shadow: 0px 2px 8px rgba(64, 60, 67, 0.24);
  background-color: #ffffff;
  color: #929292;
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 500;
  line-height: 18px;
  outline: none;
  margin-bottom: 16px;
}

.input-group {
  align-items: baseline; /* Alinea los textos con la línea base de los inputs */
}

.checkbox {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: #55a674;
}


.text9 {
  color: #080a0b;
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 500;
  line-height: 18px;
}

.text10 {
  color: #5d5d5b;
  font-size: 14px;
  font-family: "Roboto";
  line-height: 18px;
  text-align: right;
}

.text11 {
  color: #007aff;
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 500;
  line-height: 18px;
  cursor: pointer;
}

/*seccion del responsive*/

@media (max-width: 1200px) {
  /* Ajustes para pantallas medianas */
  .container {
    flex-direction: column;
  }

  .side-content {
    width: 100%; /* O ajusta según tus necesidades */
    margin-left: 0;
  }

  .input {
    width: 100%;
  }
}

@media (max-width: 768px) {
  /* Ajustes para pantallas pequeñas (tabletas y dispositivos móviles) */
  .image {
    width: 100%; /* O ajusta según tus necesidades */
  }

  .card {
    width: 100%; /* O ajusta según tus necesidades */
    margin: 16px 0;
  }

  .side-content {
    width: 100%;
    margin-left: 0;
  }
}

/*seccion de la alerta*/
.error-message {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  padding: 10px;
  animation: slideDown 0.5s forwards;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}